<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Library_System_Management.Properties.Settings.LibrarySystem2ConnectionString"
            connectionString="Data Source=DESKTOP-N3718S7\SQLEXPRESS;Initial Catalog=LibrarySystem2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Library_System_Management.Properties.Settings.DersProgrami3ConnectionString"
            connectionString="Data Source=desktop-n3718s7\sqlexpress;Initial Catalog=DersProgrami3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Library_System_Management.Properties.Settings.LibrarySystem3ConnectionString"
            connectionString="Data Source=DESKTOP-N3718S7\SQLEXPRESS;Initial Catalog=LibrarySystem3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>